
<p>
  <strong>Title:</strong>
  <%= @socio.nome %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @socio.email %>
</p>

<p>
  <strong>Text:</strong>
  <%= @socio.morada %>
</p>
<%= link_to 'Back', socios_path %>